:root {
	font-size: 62.5%; /* (62.5/100) * 16px = 10px */
	--font-size--small: 1.4rem; /* 14px */
	--font-size--default: 1.6rem; /* 16px */
	--font-size--large: 2.4rem; /* 24px */
	--background: #FAEDC0;
	--header: #636AAD;
	--background-light: #FFF8DE;
	--border-dark: #322;
	--text-dark: #322;
	--text-light: #F9F9F9;
	--purple-button: #C0C6FA;
	--purple-hover: #DDE0FC;
}

body {
    background-color: var(--background);
	font-family: 'Roboto', sans-serif;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--background-light) inset;
	box-shadow: 0 0 0 30px var(--background-light) inset;
}

input:-webkit-autofill.altoContraste,
input:-webkit-autofill:hover.altoContraste, 
input:-webkit-autofill:focus.altoContraste, 
input:-webkit-autofill:active.altoContraste {
	-webkit-box-shadow: 0 0 0 30px #000 inset;
	box-shadow: 0 0 0 30px #000 inset;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: var(--border-dark);
}

/*Change text in autofill textbox*/
input:-webkit-autofill.altoContraste {
    -webkit-text-fill-color: #FFF;
}

input, button, .resultadoConsulta {
	font-size: var(--font-size--default) !important;
}

.formPadrao, input.formPadrao:not([type='button']):focus, .formPadrao::selection {
	background-color: var(--background-light);
	color: var(--text-dark);
	border: 2px solid var(--border-dark);
}

button.formPadrao:focus {
	background-color: var(--purple-hover);
}

#barra-auxiliar {
	z-index: 2;
}

#data-inicial, #data-final {
	width: 40%;
	height: 45px;
}

.data-wrapper {
	margin-bottom: 12px;
}

#anos-anteriores {
	line-height: 1.5;
	height: calc(1.5em + .75rem + 2px);
	margin-right: 12px;
}

label[for="anos-anteriores"] {
	font-size: 16px;
}

.data-wrapper span {
	font-size: 24px;
}

.backgroundNormal {
	background-color: var(--background);
}

.navegacao {
    margin-top: 40px;
    background-color: var(--header);
	height: 74px;
	z-index: 2;
}

.navegacao a {
    color: var(--text-light);
    font-size: var(--font-size--default);
}

#previsao_venda {
    font-family: 'Roboto', sans-serif;
	font-size: var(--font-size--large);
}


#barra-acessibilidade a {
	color: var(--text-dark);
	font-size: var(--font-size--default);
}

a.alto-contraste:before {
	font-family: "Font Awesome 5 Free";
	content: "\f042";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
 }
 
.normal:before {
	font-family: "Font Awesome 5 Free";
	content: "\f031";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
}

.diminuir:before {
	font-family: "Font Awesome 5 Free";
	content: "\f031\f068";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
}

.aumentar:before {
	font-family: "Font Awesome 5 Free";
	content: "\f031\f067";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
}

.body-container {
	margin-top: 160px;
	max-width: 100%;
	z-index: 1;
}

.side-bar {
	padding: 0px 16px;
	width: 30%;
}

#nome-produto {
	max-width: 100%;
	height: 45px;
	margin-bottom: 12px;
}

.button-container {
	margin-top: 20px;
}

#botao-consulta {
	border-radius: 2px;
	height: 34px;
	min-width: 130px;
	font-weight: 600;
	transition: 0.3s;
}

.buttonPadrao {
	background-color: var(--purple-button);
}

.buttonPadrao:focus {
	outline-width: 0;
}

.buttonPadrao:hover {
	background-color: var(--purple-hover);
}

.altoContraste, .altoContraste:focus {
	background-color: #000;
	color: #FFF;
	border: 2px solid #FFF;
}

button.altoContraste:hover {
	background-color: #444;
}

.resultado-container {
	width: 70%;
	padding: 0px 16px;
}

.resultadoConsulta {
	background-color: var(--background-light);
	color: var(--text-dark);
	border: 2px solid var(--border-dark);
	border-radius: 2px;
	min-height: 300px;
	height: 600px;
}

.table-10 {
	margin: 0 auto;
}

table.table-10, .table-10 td, .table-10 th {
	border: 1px solid black;
}

.table-10 td {
	padding: 8px;
}
.table-10 th {
	font-weight: bold;
}

.centerText {
	text-align: center;
}

.leftText {
	text-align: left;
}

.altoContraste:read-only {
	background-color: #000;
	color: #FFF;
	border: 2px solid #FFF;
}

.placeholderAltoContraste::-webkit-input-placeholder {
	color: rgba(255, 255, 255,0.8);
}

.placeholderNormal::-webkit-input-placeholder {
	color: rgba(23, 37, 42, 0.5);
}

.invisivel {
	display: none;
}

#resultado-consulta {
	overflow: auto;
	padding: 12px;
}

#resultado-sucesso h2 {
	font-size: 2rem;
}

.nomeCidade {
	font-size: 2rem;
}

.bandeira {
	font-size: 1.5rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

#mensagem {
	resize: none;
}

.bold {
	font-weight: bold;
}

#tabela-previsao-vendas {
	margin-top: 24px;
	margin-left: 24px;
}

#tabela-previsao-vendas th:first-child, #tabela-previsao-vendas tr td:first-child {
	min-width: 200px;
	text-align: left;
}

#tabela-previsao-vendas th {
	min-width: 120px;
	font-weight: bold;
	text-align: right;
}

#tabela-previsao-vendas tr td {
	min-width: 120px;
	width: auto;
	white-space: nowrap;
	text-align: right;
	padding-top: 4px;
	padding-bottom: 4px;
}
 
 